@use '../../styles/variables' as *; 

.contentBox {
    width: 100%;
    display: flex;
    justify-content: center;

    .innerContentBox {
        width: 1229px;
        background: $White;
        
        .articleBox {
            padding: 2rem;
            font-weight: 400;
            color: $TextColor;
            font-size: 16px;

            h2 {
                font-size: 40px;
                margin: 0.5rem 0;
            }
            
            .byline {
                color: $Red;
                font-size: 14px;
            }

            .innerArticleBox {
                width: 710px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contentBox {
        .innerContentBox {
            width: 90%;

            img {
                width: 100%;
            }

            .articleBox {

                .innerArticleBox {
                    width: 100%;
                }
            }
        }
    }
}