@use '../../styles/variables' as *; 

.Card {
    max-width: 600px;
    color: #242424;
    background: $White;

    div {
        margin: 1rem;
    }

    h3 {
        font-weight: 400;
        font-size: 40px;
        text-wrap: balance;
        margin: 0;
        padding-top: 1rem;
    }

    .byline {
        color: $Red;
    }

    p {
        font-size: 14px;
    }

    img {
        width: 100%;
    }
}