body {
  background: #000;
  color: #fff;
}

img {
  width: 50%;
  border-radius: 2rem;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;

  a {
    color: white;
  }

  nav {
    a {
      margin: 1rem;
    }
  }
}