@use './styles/variables' as *;

body {
    font-family: 'Roboto Flex';
    font-size: 24px;
    font-weight: 400;
    margin: 0 auto;
    background: $Grey;
    box-sizing: border-box;

    a {
        color: $Black;
        text-decoration: none;
    }

    .frontMain {
        display: flex;
        justify-content: center;
        
        section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
        }
    }

    .loginMain {
        display: flex;
        justify-content: center;

        section {
            display: flex;
            justify-content: center;
            background: $White;
            width: 1229px;
            height: 900px;
            padding-top: 2rem;
        }

        form {
            display: grid;

            input {
                width: 700px;
                height: 65px;
                border: 3px solid $Red;
                margin-top: 0.5rem;
                font-size: 24px;
                padding-left: 1rem;
            }

            input[type=button] {
                width: 223px;
                height: 65px;
                border: 2px solid $Red;
                font-size: 24px;
                background: $White;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        .frontMain {
            section {
                display: grid;
                grid-template-columns: 1fr;
                margin: 0 1rem;
            }
        }

        .loginMain {
            section {
                width: 90%;
                height: 100%;
                padding-bottom: 4rem;

                div {
                    width: 90%;

                    form {
                        input[type=text], input[type=password] {
                            width: 90%;
                            border: 2px solid $Red;
                            padding: 0;
                        }
    
                        input[type=button] {
                            width: 90%;
                            padding: 0;
                        }
                    }
                }
                
            }
        }
    }
}